<mat-card>
    <mat-card-content>
        <mat-card-title class="left-icon"><mat-icon>restaurant</mat-icon><span>Essen</span></mat-card-title>
    </mat-card-content>
    <mat-list class="word-wrap">
        <mat-card-content *ngFor="let dailyMealData of mealsData">
            <h2 mat-subheader>{{ dailyMealData.day | date:'EEEE d.M.yy' }}</h2>
            <p4ba-daily-meals-list [dailyMeals]="dailyMealData.meals"></p4ba-daily-meals-list>
        </mat-card-content>
        <mat-list-item *ngIf="mealsData.length === 0">
          <h3 matLine>Kein Speiseplan vorhanden</h3>
        </mat-list-item>
    </mat-list>
</mat-card>
