<h1 mat-dialog-title>{{ title }}</h1>
<mat-dialog-content>
  <p>{{ contentText }}</p>
  <mat-form-field>
    <input matInput placeholder="Benutzername" [(ngModel)]="username" name="username" id="username" autofocus required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Passwort" [(ngModel)]="password" type="password" name="password" id="password" required>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="{username: username, password: password}" [color]="buttonWarn ? 'warn' : 'basic'">{{ buttonName }}</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Schließen</button>
</mat-dialog-actions>
