<mat-list class="word-wrap">
  <mat-list-item *ngFor="let meal of dailyMeals">
    <h3 matLine>{{ meal.description }}</h3>
    <p matLine class="text-muted">{{ meal.prices }}</p>
    <p *ngIf="meal.vegetarian" matLine class="text-muted">Vegetarisch</p>
    <p *ngIf="meal.vegan" matLine class="text-muted">Vegan</p>
    <p *ngIf="meal.additionalInformation.length > 0" matLine class="text-muted"`>{{ meal.additionalInformation }}</p>
  </mat-list-item>
</mat-list>
<h3 *ngIf="dailyMeals.length === 0">Kein Essen</h3>
  