
<ListView (tap)="tapEvent.emit()" [items]="dailyMeals">
    <ng-template let-meal="item">
        <StackLayout>
            <Label [text]="meal.description" class="list-heading"></Label>
            <Label [text]="meal.prices"></Label>
            <Label [text]="'Vegetarisch'" *ngIf="meal.vegetarian"></Label>
            <Label [text]="'Vegan'" *ngIf="meal.vegan"></Label>
            <Label [text]="meal.additionalInformation" *ngIf="meal.additionalInformation.length > 0">{{ meal.additionalInformation }}</Label>
        </StackLayout>
    </ng-template>
</ListView>
<Label (tap)="tapEvent.emit()" *ngIf="dailyMeals.length === 0" text="Kein Essen" class="list-heading"></Label>
    