.page-wrapper {
  padding-top: 64px;
  min-height: calc(100vh - 64px);
  .page-content {
    padding: 15px;
  }
}

@media (max-width: 767px) {
  .page-wrapper .page-content {
    padding: 0;
  }
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  min-height: 100%;
  height: auto !important;
  max-width: 100%;
  margin: 0;
  -webkit-transform: none;
  transform: none;
  width: 100%;
}

.example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

@media (min-width: 768px) {
  .navbar-header {
    width: 225px;
    flex-shrink: 0;
    .navbar-brand {
      padding-top: 0px;
    }
  }
}

.spacing {
  width: 100%;
}
