<div class="dashboard-container">
  <mat-card>
    <mat-card-content>
      <mat-card-title class="left-icon"
        ><mat-icon>calendar_today</mat-icon
        ><span>{{ 'home.lecturesToday' | translate }}</span></mat-card-title
      >
      <mat-list class="word-wrap no-x-padding-mobile">
        <p4ba-daily-lectures-list
          (click)="openLectures()"
          [viewDateLocal]="today"
        ></p4ba-daily-lectures-list>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <mat-card-title class="left-icon"
        ><mat-icon>restaurant</mat-icon
        ><span>{{ 'home.mealsToday' | translate }}</span></mat-card-title
      >
      <mat-list class="word-wrap no-x-padding-mobile">
        <p4ba-daily-meals-list
          [dailyMeals]="todaysMeals"
          (click)="openMeals()"
        ></p4ba-daily-meals-list>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
