<div class="calendar-container">
  <mat-card class="monthly-calendar">
    <mat-card-content #monthlyCalendar>
      <div class="arrow-selection-header">
        <button mat-button class="arrow arrow-left" (click)="prevMonth()">
          &lt;
        </button>
        <h3>{{ viewDateLocal | date: 'LLLL yyyy' }}</h3>
        <button mat-button class="arrow arrow-right" (click)="nextMonth()">
          &gt;
        </button>
      </div>
      <p4ba-monthly-calendar
        (dayClicked)="dayClickedListener($event)"
        [viewDateLocal]="viewDateLocal"
      ></p4ba-monthly-calendar>
    </mat-card-content>
  </mat-card>

  <mat-card class="daily-calendar">
    <mat-card-content #dailyCalendar>
      <div class="arrow-selection-header">
        <button mat-button class="arrow arrow-left" (click)="prevDay()">
          &lt;
        </button>
        <h3>{{ viewDateLocal | date: 'EEEE d.M.yy' }}</h3>
        <button mat-button class="arrow arrow-right" (click)="nextDay()">
          &gt;
        </button>
      </div>
      <mat-list class="word-wrap">
        <p4ba-daily-lectures-list
          [viewDateLocal]="viewDateLocal"
        ></p4ba-daily-lectures-list>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
