<mat-card>
    <mat-card-content>
        <mat-card-title class="left-icon"><mat-icon>settings</mat-icon><span>{{ 'settings.settings' | translate}}</span></mat-card-title>
    </mat-card-content>
    <mat-card-content>
        <div *ngIf="user">
            <div class="key-value-action">
                <div class="key-value">
                    <span class="key">{{ 'settings.matriculationNumber' | translate}}</span>
                    <span class="value">{{user.matriculationNumber}}</span>
                </div>
            </div>
            <div class="key-value-action">
                <div class="key-value">
                    <span class="key">{{ 'settings.tutorialGroup' | translate}}</span>
                    <span class="value">{{user.group}}</span>
                </div>
            </div>
            <div class="key-value-action">
                <div class="key-value">
                    <span class="key">{{ 'settings.university' | translate}}</span>
                    <span class="value">{{user.university}}</span>
                </div>
            </div>
            <div class="key-value-action">
                <div class="key-value">
                    <span class="key">{{ 'settings.credentialsStored' | translate}}</span>
                    <span class="value">{{(user.hashStored ? 'settings.yes' : 'settings.no') | translate}}</span>
                </div>
                <mat-icon (click)="openHashHelpDialog()">help</mat-icon>
                <button mat-raised-button (click)="changeStoreCredentials()">{{ 'settings.change' | translate}}</button>
            </div>
            <div class="key-value-action">
                <div class="key-value">
                    <span class="key">{{ 'settings.lastLecturePolling' | translate}}</span>
                    <span class="value">{{user.lastLecturePolling | date:'medium'}}</span>
                </div>
                <button mat-raised-button (click)="pollLectures()">{{ 'settings.refresh' | translate}}</button>
            </div>
            <div class="key-action">
                <span class="key">{{ 'settings.language' | translate}}</span>
                <mat-select class="action" [(value)]="selectedLang">
                    <mat-option *ngFor="let selectableLang of selectableLangs" [value]="selectableLang">
                        {{ ('languages.' + selectableLang) | translate }}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <button mat-raised-button color="warn" (click)="deleteUser()">{{ 'settings.deleteUserdata' | translate}}</button>
    </mat-card-content>
</mat-card>
