:host {
    display: flex;
    justify-content: center;
}

.mat-card {
    width: 100%;
    max-width: 600px;
}

.key-value-action {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0px;

    .key-value {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        .key {
            min-width: 160px;
            max-width: 160px;
        }
        .value {
            min-width: 130px;
        }
    }
}

.key-action {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0px;
    .key {
        min-width: 160px;
        max-width: 160px;
    }
    .action {
        max-width: 130px;
    }
}
